name: Terraform Lint and Checks

on:
  push:
    branches:
      - main  # Trigger on push to 'main' branch
  pull_request:
    branches:
      - main  # Trigger on PRs targeting 'main' branch

jobs:
    lint:
      runs-on: ubuntu-latest
      environment: Prod
      
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4
  
        - name: Set up Terraform
          uses: hashicorp/setup-terraform@v2
          with:
            terraform_version: 1.5.5
  
        - name: Ensure TFLint plugin directory exists
          run: |
            mkdir -p ~/.tflint.d/plugins
  
        - name: Cache plugin dir
          uses: actions/cache@v4
          with:
            path: ~/.tflint.d/plugins
            key: tflint-${{ hashFiles('.tflint.hcl') }} 
  
        - name: Setup TFLint
          uses: terraform-linters/setup-tflint@v4
          with:
            tflint_version: v0.55.1
  
        - name: Show TFLint version
          run: tflint --version
  
        - name: Init TFLint
          run: tflint --init
          env:
            GITHUB_TOKEN: ${{ github.token }}
  
        - name: Run TFLint
          run: |
            tflint
            if [ $? -eq 0 ]; then
              echo "TFLint: No errors found. Terraform code is valid."
            else
              echo "TFLint: Errors found. Please review the output."
              exit 1 # Ensure the workflow fails
            fi
  
        - name: Terraform Init
          run: terraform init
          working-directory: terraform/
  
        - name: Terraform Plan
          run: terraform plan -out=tfplan
          working-directory: terraform/

    manual-approval:
      name: Manual Approval
      runs-on: ubuntu-latest
      needs: lint
      if: success() # Only proceed if terraform-plan job succeeds
      
      permissions:
        issues: write
  
      steps:
        - name: Await Manual Approval
          uses: trstringer/manual-approval@v1
          with:
            secret: ${{ github.TOKEN }}
            approvers: ImbierinisSausainis # Replace with GitHub usernames, with the free version you can only have an issue assigned to one username
            minimum-approvals: 1
            issue-title: "Manual Approval Required for Terraform Apply"
            issue-body: "Please approve or deny the deployment."

    # terraform-apply-approval:
    #   runs-on: ubuntu-latest
    #   needs: lint
    #   environment: Prod
    #   steps:
    #     - name: Wait for Manual Approval to Apply Plan
    #       run: echo "Waiting for manual approval before applying the plan."

      # - name: Terraform Apply
      #   run: terraform apply tfplan
      #   working-directory: terraform/
