name: Terraform Lint and Checks

on:
  push:
    branches:
      - main  # Trigger on push to 'main' branch
  pull_request:
    branches:
      - main  # Trigger on PRs targeting 'main' branch

jobs:
  lint:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.1.7 

      - name: Install tflint
        run: |
          curl -LO https://github.com/terraform-linters/tflint/releases/download/v0.55.1/tflint-linux-amd64.zip
          unzip tflint-linux-amd64.zip
          sudo mv tflint /usr/local/bin

      - name: Initialize Terraform
        run: terraform init

      - name: Run Terraform Validation
        run: terraform validate

      - name: Run Terraform Linting (tflint)
        run: tflint
